// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #1a1a1a;
  --ion-color-primary-rgb: 26, 26, 26;
  --ion-color-primary-contrast: #E5E5E5;
  --ion-color-primary-contrast-rgb: 229, 229, 229;
  --ion-color-primary-shade: #1a1a1a;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #1a1a1a;
    --ion-color-primary-rgb: 66,140,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106,100,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }

}
body[color-theme='dark-theme'] {
  --ion-color-primary: #282c34;
  --ion-color-primary-rgb: 40,44,52;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #23272e;
  --ion-color-primary-tint: #31363f;

  --ion-color-secondary: #3a3f47;
  --ion-color-secondary-rgb: 58,63,71;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #33383e;
  --ion-color-secondary-tint: #4a4f58;

  --ion-color-tertiary: #4d4f53;
  --ion-color-tertiary-rgb: 77,79,83;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #45484b;
  --ion-color-tertiary-tint: #5c5e63;

  --ion-color-success: #61c77b;
  --ion-color-success-rgb: 97,199,123;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #54ad69;
  --ion-color-success-tint: #73d28e;

  --ion-color-warning: #f4b400;
  --ion-color-warning-rgb: 244,180,0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #d9a200;
  --ion-color-warning-tint: #f5be33;

  --ion-color-danger: #e94f54;
  --ion-color-danger-rgb: 233,79,84;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cd4549;
  --ion-color-danger-tint: #ec5e62;

  --ion-color-light: #3c4043;
  --ion-color-light-rgb: 60,64,67;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255,255,255;
  --ion-color-light-shade: #34373a;
  --ion-color-light-tint: #4a4d51;

  --ion-color-medium: #62666d;
  --ion-color-medium-rgb: 98,102,109;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #555961;
  --ion-color-medium-tint: #70747d;

  --ion-color-dark: #1e2124;
  --ion-color-dark-rgb: 30,33,36;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1a1c1f;
  --ion-color-dark-tint: #26292d;
}

body[color-theme='green-theme'] {
  --ion-color-primary: #a8e6cf;
  --ion-color-primary-rgb: 168,230,207;
  --ion-color-primary-contrast: #2e2e2e;
  --ion-color-primary-contrast-rgb: 46,46,46;
  --ion-color-primary-shade: #94ccb5;
  --ion-color-primary-tint: #b4e9d5;

  --ion-color-secondary: #dcedc2;
  --ion-color-secondary-rgb: 220,237,194;
  --ion-color-secondary-contrast: #2e2e2e;
  --ion-color-secondary-contrast-rgb: 46,46,46;
  --ion-color-secondary-shade: #c7d3a9;
  --ion-color-secondary-tint: #e0f0cc;

  --ion-color-tertiary: #ffd3b6;
  --ion-color-tertiary-rgb: 255,211,182;
  --ion-color-tertiary-contrast: #2e2e2e;
  --ion-color-tertiary-contrast-rgb: 46,46,46;
  --ion-color-tertiary-shade: #e6bea2;
  --ion-color-tertiary-tint: #ffe0c2;

  --ion-color-success: #ffaaa5;
  --ion-color-success-rgb: 255,170,165;
  --ion-color-success-contrast: #2e2e2e;
  --ion-color-success-contrast-rgb: 46,46,46;
  --ion-color-success-shade: #e69991;
  --ion-color-success-tint: #ffb6b0;

  --ion-color-warning: #ffd180;
  --ion-color-warning-rgb: 255,209,128;
  --ion-color-warning-contrast: #2e2e2e;
  --ion-color-warning-contrast-rgb: 46,46,46;
  --ion-color-warning-shade: #e6bd70;
  --ion-color-warning-tint: #ffdc94;

  --ion-color-danger: #ff8b94;
  --ion-color-danger-rgb: 255,139,148;
  --ion-color-danger-contrast: #2e2e2e;
  --ion-color-danger-contrast-rgb: 46,46,46;
  --ion-color-danger-shade: #e77c83;
  --ion-color-danger-tint: #ff98a1;

  --ion-color-light: #f1f8e9;
  --ion-color-light-rgb: 241,248,233;
  --ion-color-light-contrast: #2e2e2e;
  --ion-color-light-contrast-rgb: 46,46,46;
  --ion-color-light-shade: #dce0c5;
  --ion-color-light-tint: #f4faee;

  --ion-color-medium: #c8e6c9;
  --ion-color-medium-rgb: 200,230,201;
  --ion-color-medium-contrast: #2e2e2e;
  --ion-color-medium-contrast-rgb: 46,46,46;
  --ion-color-medium-shade: #b4cbb5;
  --ion-color-medium-tint: #cfe9d2;

  --ion-color-dark: #388e3c;
  --ion-color-dark-rgb: 56,142,60;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #307b35;
  --ion-color-dark-tint: #4c9d4e;
}

body[color-theme='purple-theme'] {
  --ion-color-primary: #c7aef5;
  --ion-color-primary-rgb: 199,174,245;
  --ion-color-primary-contrast: #2e2e2e;
  --ion-color-primary-contrast-rgb: 46,46,46;
  --ion-color-primary-shade: #b19ae0;
  --ion-color-primary-tint: #d3bcf7;

  --ion-color-secondary: #d6bbfc;
  --ion-color-secondary-rgb: 214,187,252;
  --ion-color-secondary-contrast: #2e2e2e;
  --ion-color-secondary-contrast-rgb: 46,46,46;
  --ion-color-secondary-shade: #c1a6e4;
  --ion-color-secondary-tint: #e1cbfd;

  --ion-color-tertiary: #b39ddb;
  --ion-color-tertiary-rgb: 179,157,219;
  --ion-color-tertiary-contrast: #2e2e2e;
  --ion-color-tertiary-contrast-rgb: 46,46,46;
  --ion-color-tertiary-shade: #9d89c2;
  --ion-color-tertiary-tint: #c0aade;

  --ion-color-success: #e1bee7;
  --ion-color-success-rgb: 225,190,231;
  --ion-color-success-contrast: #2e2e2e;
  --ion-color-success-contrast-rgb: 46,46,46;
  --ion-color-success-shade: #c9a4cc;
  --ion-color-success-tint: #e6c6ea;

  --ion-color-warning: #d7ccc8;
  --ion-color-warning-rgb: 215,204,200;
  --ion-color-warning-contrast: #2e2e2e;
  --ion-color-warning-contrast-rgb: 46,46,46;
  --ion-color-warning-shade: #c2b7b2;
  --ion-color-warning-tint: #e1d5d2;

  --ion-color-danger: #ce93d8;
  --ion-color-danger-rgb: 206,147,216;
  --ion-color-danger-contrast: #2e2e2e;
  --ion-color-danger-contrast-rgb: 46,46,46;
  --ion-color-danger-shade: #b980c0;
  --ion-color-danger-tint: #d8a4e0;

  --ion-color-light: #f3e5f5;
  --ion-color-light-rgb: 243,229,245;
  --ion-color-light-contrast: #2e2e2e;
  --ion-color-light-contrast-rgb: 46,46,46;
  --ion-color-light-shade: #d7d0d9;
  --ion-color-light-tint: #f4ebf6;

  --ion-color-medium: #ba68c8;
  --ion-color-medium-rgb: 186,104,200;
  --ion-color-medium-contrast: #2e2e2e;
  --ion-color-medium-contrast-rgb: 46,46,46;
  --ion-color-medium-shade: #a35bb0;
  --ion-color-medium-tint: #c780cf;

  --ion-color-dark: #6a1b9a;
  --ion-color-dark-rgb: 106,27,154;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #5c1785;
  --ion-color-dark-tint: #7a36a4;
}

body[color-theme='red-theme'] {
  --ion-color-primary: #f28b82;
  --ion-color-primary-rgb: 242,139,130;
  --ion-color-primary-contrast: #2e2e2e;
  --ion-color-primary-contrast-rgb: 46,46,46;
  --ion-color-primary-shade: #d77a72;
  --ion-color-primary-tint: #f49a92;

  --ion-color-secondary: #f4b8b2;
  --ion-color-secondary-rgb: 244,184,178;
  --ion-color-secondary-contrast: #2e2e2e;
  --ion-color-secondary-contrast-rgb: 46,46,46;
  --ion-color-secondary-shade: #d9a59f;
  --ion-color-secondary-tint: #f6c2c0;

  --ion-color-tertiary: #fab1a0;
  --ion-color-tertiary-rgb: 250,177,160;
  --ion-color-tertiary-contrast: #2e2e2e;
  --ion-color-tertiary-contrast-rgb: 46,46,46;
  --ion-color-tertiary-shade: #de9d8f;
  --ion-color-tertiary-tint: #fbbbaa;

  --ion-color-success: #ffcccb;
  --ion-color-success-rgb: 255,204,203;
  --ion-color-success-contrast: #2e2e2e;
  --ion-color-success-contrast-rgb: 46,46,46;
  --ion-color-success-shade: #e6b8b7;
  --ion-color-success-tint: #ffd5d4;

  --ion-color-warning: #f78b7f;
  --ion-color-warning-rgb: 247,139,127;
  --ion-color-warning-contrast: #2e2e2e;
  --ion-color-warning-contrast-rgb: 46,46,46;
  --ion-color-warning-shade: #db7a6f;
  --ion-color-warning-tint: #f89a8e;

  --ion-color-danger: #ff8a80;
  --ion-color-danger-rgb: 255,138,128;
  --ion-color-danger-contrast: #2e2e2e;
  --ion-color-danger-contrast-rgb: 46,46,46;
  --ion-color-danger-shade: #e67a71;
  --ion-color-danger-tint: #ff9a91;

  --ion-color-light: #fde0dc;
  --ion-color-light-rgb: 253,224,220;
  --ion-color-light-contrast: #2e2e2e;
  --ion-color-light-contrast-rgb: 46,46,46;
  --ion-color-light-shade: #e3cac6;
  --ion-color-light-tint: #fde7e4;

  --ion-color-medium: #e57373;
  --ion-color-medium-rgb: 229,115,115;
  --ion-color-medium-contrast: #2e2e2e;
  --ion-color-medium-contrast-rgb: 46,46,46;
  --ion-color-medium-shade: #cb6666;
  --ion-color-medium-tint: #e98585;

  --ion-color-dark: #c62828;
  --ion-color-dark-rgb: 198,40,40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #ac2424;
  --ion-color-dark-tint: #cf3a3a;
}

body[color-theme='light-theme'] {
  --ion-color-primary: #e6f7ff;
  --ion-color-primary-rgb: 230,247,255;
  --ion-color-primary-contrast: #2e2e2e;
  --ion-color-primary-contrast-rgb: 46,46,46;
  --ion-color-primary-shade: #cce0e6;
  --ion-color-primary-tint: #ecf9ff;

  --ion-color-secondary: #ffe6f2;
  --ion-color-secondary-rgb: 255,230,242;
  --ion-color-secondary-contrast: #2e2e2e;
  --ion-color-secondary-contrast-rgb: 46,46,46;
  --ion-color-secondary-shade: #e6cdd8;
  --ion-color-secondary-tint: #ffebf4;

  --ion-color-tertiary: #e6ffe6;
  --ion-color-tertiary-rgb: 230,255,230;
  --ion-color-tertiary-contrast: #2e2e2e;
  --ion-color-tertiary-contrast-rgb: 46,46,46;
  --ion-color-tertiary-shade: #cde6cd;
  --ion-color-tertiary-tint: #ecffec;

  --ion-color-success: #d4f7d4;
  --ion-color-success-rgb: 212,247,212;
  --ion-color-success-contrast: #2e2e2e;
  --ion-color-success-contrast-rgb: 46,46,46;
  --ion-color-success-shade: #bce6bc;
  --ion-color-success-tint: #dcf9dc;

  --ion-color-warning: #fff5cc;
  --ion-color-warning-rgb: 255,245,204;
  --ion-color-warning-contrast: #2e2e2e;
  --ion-color-warning-contrast-rgb: 46,46,46;
  --ion-color-warning-shade: #e6dcb3;
  --ion-color-warning-tint: #fff8d9;

  --ion-color-danger: #ffccd5;
  --ion-color-danger-rgb: 255,204,213;
  --ion-color-danger-contrast: #2e2e2e;
  --ion-color-danger-contrast-rgb: 46,46,46;
  --ion-color-danger-shade: #e6b3bc;
  --ion-color-danger-tint: #ffd5de;

  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255,255,255;
  --ion-color-light-contrast: #2e2e2e;
  --ion-color-light-contrast-rgb: 46,46,46;
  --ion-color-light-shade: #e6e6e6;
  --ion-color-light-tint: #ffffff;

  --ion-color-medium: #d9e3e6;
  --ion-color-medium-rgb: 217,227,230;
  --ion-color-medium-contrast: #2e2e2e;
  --ion-color-medium-contrast-rgb: 46,46,46;
  --ion-color-medium-shade: #c0cbcc;
  --ion-color-medium-tint: #e3eaec;

  --ion-color-dark: #a3b1b3;
  --ion-color-dark-rgb: 163,177,179;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #8e9b9d;
  --ion-color-dark-tint: #aebcbf;
}